release_tag:
  stage: build
  image: tobiashvmz/pve-cloud-ci:latest
  script:
    - git config --global user.name "$GITLAB_USER_NAME"
    - git config --global user.email "$GITLAB_USER_EMAIL"
    - |
      # get the latest tag => default to 0.0.0
      tags=$(git tag -l | grep -E '^[0-9]+\.[0-9]+\.[0-9]+$' || true)
      if [ -z "$tags" ]; then
        latest_tag="0.0.0"
      else
        latest_tag=$(echo "$tags" | sort -V | tail -n 1)
      fi

      # split the tag and increment
      major=$(echo "$latest_tag" | cut -d '.' -f 1)
      minor=$(echo "$latest_tag" | cut -d '.' -f 2)
      patch=$(echo "$latest_tag" | cut -d '.' -f 3)

      increment=${CI_COMMIT_TAG#release-}

      if [ "$increment" == "major" ]; then
        major=$((major + 1))
        minor=0
        patch=0
      elif [ "$increment" == "minor" ]; then
        minor=$((minor + 1))
        patch=0
      elif [ "$increment" == "patch" ]; then
        patch=$((patch + 1))
      else
        echo "Unknown increment type: $increment"
        exit 1
      fi

      new_tag="$major.$minor.$patch"

      echo $new_tag

    # update galaxy yaml
    - |
      sed -i "s/^version:\s.*$/version: $new_tag/" galaxy.yml
    - git add galaxy.yml
    - git commit -m "Update collection version to $new_tag"
    - git push origin HEAD:master

    # tag and push
    - git tag "$new_tag" -m "$CI_COMMIT_TAG"
    - git push origin "$new_tag"

    # trigger pipelines
    - |
      curl --request POST \
        --form "token=${CI_JOB_TOKEN}" \
        --form "ref=${new_tag}" \
        "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/trigger/pipeline"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-[a-z]+$/'
  resource_group: deploy-prod

    
# pipeline trigger if the upstream releases
py_pve_cloud_upstream:
  stage: build
  image: tobiashvmz/pve-cloud-ci:latest
  script:
    # write the new version
    - sed -i "s/^py-pve-cloud==.*$/py-pve-cloud==${PY_PVE_CLOUD}/" meta/ee-requirements.txt
    - /scripts/upstream-push.sh "Update py-pve-cloud version to $PY_PVE_CLOUD"
  rules:
    - if: ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream


pve_cloud_backup_upstream:
  stage: build
  image: tobiashvmz/pve-cloud-ci:latest
  script:
    # write the new version
    - |
      sed -i "s/py_pve_cloud_backup_version:\s.*$/py_pve_cloud_backup_version: \"${PVE_CLOUD_BACKUP}\"/" playbooks/setup_backup_daemon.yaml
    - /scripts/upstream-push.sh "Update pve-cloud-backup version to $PVE_CLOUD_BACKUP"
  rules:
    - if: ( $PVE_CLOUD_BACKUP != null || $PVE_CLOUD_BACKUP =~ /^./ ) # set by upstream


# call the pipeline for the release patch tag we just created above
trigger_upstream_release_tag:
  stage: deploy
  image: alpine/curl:8.14.1
  script:
    - |
      curl --request POST \
        --form "token=${CI_JOB_TOKEN}" \
        --form "ref=${UPSTREAM_TAG_MESSAGE}" \
        "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/trigger/pipeline"
  rules:
    - if: ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream
    - if: ( $PVE_CLOUD_BACKUP != null || $PVE_CLOUD_BACKUP =~ /^./ ) # same trigger from both upstreams


release_artifacts:
  stage: deploy
  image: ghcr.io/ansible/community-ansible-dev-tools:v25.11.0
  script:
    - echo $DOCKER_AUTH_CONFIG_B64 | base64 -d > /root/.config/containers/auth.json
    - ansible-galaxy collection build
    - mv pve-cloud-$CI_COMMIT_TAG.tar.gz pve-cloud.tar.gz
    - ansible-builder build -f cloud-ee.yaml --tag tobiashvmz/pve-cloud-ee:$CI_COMMIT_TAG -v
    - podman push tobiashvmz/pve-cloud-ee:$CI_COMMIT_TAG
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'
  variables:
    # building this takes insane storage requirments
    KUBERNETES_MEMORY_REQUEST: "8Gi"
    KUBERNETES_MEMORY_LIMIT: "12Gi"
