release_tag:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:2025122115
  script:
    - git config --global user.name "$GITLAB_USER_NAME"
    - git config --global user.email "$GITLAB_USER_EMAIL"
    - |
      # get the latest tag => default to 0.0.0
      tags=$(git tag -l | grep -E '^[0-9]+\.[0-9]+\.[0-9]+$' || true)
      if [ -z "$tags" ]; then
        latest_tag="0.0.0"
      else
        latest_tag=$(echo "$tags" | sort -V | tail -n 1)
      fi

      # split the tag and increment
      major=$(echo "$latest_tag" | cut -d '.' -f 1)
      minor=$(echo "$latest_tag" | cut -d '.' -f 2)
      patch=$(echo "$latest_tag" | cut -d '.' -f 3)

      if [[ "$CI_COMMIT_TAG" == *"-major" ]]; then
        major=$((major + 1))
        minor=0
        patch=0
      elif [[ "$CI_COMMIT_TAG" == *"-minor" ]]; then
        minor=$((minor + 1))
        patch=0
      elif [[ "$CI_COMMIT_TAG" == *"-patch" ]]; then
        patch=$((patch + 1))
      else
        echo "Unknown increment type: $CI_COMMIT_TAG"
        exit 1
      fi

      new_tag="$major.$minor.$patch"

      echo $new_tag

    # update galaxy yaml
    - |
      sed -i "s/^version:\s.*$/version: $new_tag/" galaxy.yml
    - git add galaxy.yml

    # update cloud ee defintion file
    - |
      sed -i "s/version:.*sed/version: $new_tag # sed/" cloud-ee.yaml
    - git add cloud-ee.yaml

    - git commit -m "Update collection version to $new_tag / update schemas."
    - git push origin HEAD:master

    # tag and push
    - git tag "$new_tag" -m "$CI_COMMIT_TAG"
    - git push origin "$new_tag"

    # trigger pipelines
    - sleep 10 # small buffer for gitlab ci
    - |
      curl --request POST \
        --form "token=${CI_JOB_TOKEN}" \
        --form "ref=${new_tag}" \
        "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/trigger/pipeline"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-[a-z]+$/'
    - if: '$CI_COMMIT_TAG =~ /^release-all-[a-z]+$/'
  resource_group: deploy-prod

pve_cloud_schemas_upstream:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:2025122115
  script:
    # write the new version
    - sed -i "s/^pve-cloud-schemas==.*$/pve-cloud-schemas==${PVE_CLOUD_SCHEMAS}/" meta/ee-requirements.txt
    - sed -i "s/^pip install pve-cloud-schemas==.*$/pip install pve-cloud-schemas==${PVE_CLOUD_SCHEMAS}/" mkdocs-gen.sh
    - /scripts/upstream-push.sh "Update pve-cloud-schemas version to $PVE_CLOUD_SCHEMAS"
  rules:
    - if: ( $PVE_CLOUD_SCHEMAS != null || $PVE_CLOUD_SCHEMAS =~ /^./ ) # set by upstream


# pipeline trigger if the upstream releases
py_pve_cloud_upstream:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:2025122115
  script:
    # write the new version
    - sed -i "s/^py-pve-cloud==.*$/py-pve-cloud==${PY_PVE_CLOUD}/" meta/ee-requirements.txt
    - /scripts/upstream-push.sh "Update py-pve-cloud version to $PY_PVE_CLOUD"
  rules:
    - if: ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream


pve_cloud_backup_upstream:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:2025122115
  script:
    # write the new version
    - |
      sed -i "s/py_pve_cloud_backup_version:\s.*$/py_pve_cloud_backup_version: \"${PVE_CLOUD_BACKUP}\"/" playbooks/setup_backup_daemon.yaml
    - /scripts/upstream-push.sh "Update pve-cloud-backup version to $PVE_CLOUD_BACKUP"
  rules:
    - if: ( $PVE_CLOUD_BACKUP != null || $PVE_CLOUD_BACKUP =~ /^./ ) # set by upstream


# call the pipeline for the release patch tag we just created above
trigger_upstream_release_tag:
  stage: deploy
  image: alpine/curl:8.14.1
  script:
    - |
      curl --request POST \
        --form "token=${CI_JOB_TOKEN}" \
        --form "ref=${UPSTREAM_TAG_MESSAGE}" \
        "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/trigger/pipeline"
  rules:
    - if: $UPSTREAM_TAG_MESSAGE =~ /-all-/ && ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream
    - if: $UPSTREAM_TAG_MESSAGE =~ /-all-/ && ( $PVE_CLOUD_BACKUP != null || $PVE_CLOUD_BACKUP =~ /^./ ) # same trigger from both upstreams
    - if: $UPSTREAM_TAG_MESSAGE =~ /-all-/ && ( $PVE_CLOUD_SCHEMAS != null || $PVE_CLOUD_SCHEMAS =~ /^./ )


release_galaxy:
  stage: deploy
  image: alpine/ansible:2.18.6
  script:
    - ansible-galaxy collection build
    - ansible-galaxy collection publish *.tar.gz --token $ANSIBLE_GALAXY_TOKEN
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'


release_ee:
  stage: deploy
  needs:
    - release_galaxy
  image: ghcr.io/ansible/community-ansible-dev-tools:v25.11.0
  retry: 1 # even with check logic for pypi package rdy on index, calls after still sometimes fail
  script:
    - mkdir -p /root/.config/containers
    - echo $DOCKER_AUTH_CONFIG_B64 | base64 -d > /root/.config/containers/auth.json
    - ansible-builder build --extra-build-cli-args='--layers --cache-from tobiashvmz/pve-cloud-ee-cache --cache-to tobiashvmz/pve-cloud-ee-cache' -f cloud-ee.yaml --tag tobiashvmz/pve-cloud-ee:$CI_COMMIT_TAG -vvv
    - podman push tobiashvmz/pve-cloud-ee:$CI_COMMIT_TAG
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'
  variables:
    # building this takes insane storage requirments
    KUBERNETES_MEMORY_REQUEST: "8Gi"
  timeout: 2h
  resource_group: deploy-prod-ee # don't run this twice ;)


release_docs:
  stage: deploy
  image: python:3.14-trixie
  retry: 1 # even with check logic for pypi package rdy on index, calls after still sometimes fail
  script:
    - ./mkdocs-gen.sh # generate and validate schema docs + install mkdocs packages

    - git config --global user.name "$GITLAB_USER_NAME"
    - git config --global user.email "$GITLAB_USER_EMAIL"
    - git add docs/schemas/
    - |
      if ! git diff --cached --quiet; then
          git commit -m "Update schema doc files"
          git push origin HEAD:master
      else
          echo "Schemas have not changed"
      fi
    # fetch the gh pages branch once
    - git fetch origin gh-pages:gh-pages
    - mkdocs gh-deploy # update github pages branch - always, might have doc changes but no schema
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'


format_source:
  stage: build
  image: tobiashvmz/pve-cloud-pyci:2026010412
  script:
    - git config --global user.name "$GITLAB_USER_NAME"
    - git config --global user.email "$GITLAB_USER_EMAIL"
    
    - autoflake --in-place --recursive .
    - black .
    - isort .
    # commit the changes
    - |
      if ! git diff --quiet; then
        git add .
        git commit -m "Format and cleanup pipeline"
        git push origin HEAD:$CI_COMMIT_REF_NAME
      else
        echo "Nothing to clean or format!"
      fi
  rules:
    - if: >
        $CI_COMMIT_TAG !~ /^\d+\.\d+\.\d+$/ &&
        $CI_COMMIT_TAG !~ /^release-[a-z]+$/ &&
        $CI_COMMIT_TAG !~ /^release-all-[a-z]+$/ &&
        $CI_PIPELINE_SOURCE == 'push'
      when: on_success
    - when: never