# default release tags
include:
  - project: 'pve-cloud/pve-cloud-pipelines'
    file: 'release-tag.yml'
    ref: 'master'

# pipeline trigger if the upstream releases
py_pve_cloud_upstream:
  stage: build
  extends: .upstream-trigger
  script:
    # write the new version
    - sed -i "s/^py-pve-cloud==.*$/py-pve-cloud==${PY_PVE_CLOUD}/" meta/ee-requirements.txt
    - COMMIT_MESSAGE="Update py-pve-cloud version to $PY_PVE_CLOUD"

    - *push_script
  rules:
    - if: ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream


pve_cloud_backup_upstream:
  stage: build
  extends: .upstream-trigger
  script:
    # write the new version
    - |
      sed -i "s/py_pve_cloud_backup_version:\s.*$/py_pve_cloud_backup_version: \"${PVE_CLOUD_BACKUP}\"/" playbooks/setup_backup_daemon.yaml
    - COMMIT_MESSAGE="Update pve-cloud-backup version to $PVE_CLOUD_BACKUP"

    - *push_script
  rules:
    - if: ( $PVE_CLOUD_BACKUP != null || $PVE_CLOUD_BACKUP =~ /^./ ) # set by upstream


# call the pipeline for the release patch tag we just created above
trigger_upstream_release_tag:
  stage: deploy
  extends: .upstream-trigger-tag
  rules:
    - if: ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream
    - if: ( $PVE_CLOUD_BACKUP != null || $PVE_CLOUD_BACKUP =~ /^./ ) # same trigger from both upstreams


release_collection:
  stage: deploy
  image: alpine/git:v2.49.1
  script:
    # update galaxy yaml
    - |
      sed -i "s/^version:\s.*$/version: $CI_COMMIT_TAG/" galaxy.yml
    - git add galaxy.yml
    - git commit -m "Update collection version to $CI_COMMIT_TAG"
    - git push origin HEAD:master

    # tag and push => created by job ci token, will not trigger the tag released pipeline
    - git tag "$new_tag" -m "$CI_COMMIT_TAG"
    - git push origin "$new_tag"

    # todo: implement release to galaxy
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'
