release_tag:
  stage: build
  image: tobiashvmz/pve-cloud-ci:latest
  script:
    - /scripts/release-tag.sh
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-[a-z]+$/'
  resource_group: deploy-prod

    
# pipeline trigger if the upstream releases
py_pve_cloud_upstream:
  stage: build
  image: tobiashvmz/pve-cloud-ci:latest
  script:
    # write the new version
    - sed -i "s/^py-pve-cloud==.*$/py-pve-cloud==${PY_PVE_CLOUD}/" meta/ee-requirements.txt
    - /scripts/upstream-push.sh "Update py-pve-cloud version to $PY_PVE_CLOUD"
  rules:
    - if: ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream


pve_cloud_backup_upstream:
  stage: build
  image: tobiashvmz/pve-cloud-ci:latest
  script:
    # write the new version
    - |
      sed -i "s/py_pve_cloud_backup_version:\s.*$/py_pve_cloud_backup_version: \"${PVE_CLOUD_BACKUP}\"/" playbooks/setup_backup_daemon.yaml
    - /scripts/upstream-push.sh "Update pve-cloud-backup version to $PVE_CLOUD_BACKUP"
  rules:
    - if: ( $PVE_CLOUD_BACKUP != null || $PVE_CLOUD_BACKUP =~ /^./ ) # set by upstream


# call the pipeline for the release patch tag we just created above
trigger_upstream_release_tag:
  stage: deploy
  image: alpine/curl:8.14.1
  script:
    - |
      curl --request POST \
        --form "token=${CI_JOB_TOKEN}" \
        --form "ref=${UPSTREAM_TAG_MESSAGE}" \
        "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/trigger/pipeline"
  rules:
    - if: ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream
    - if: ( $PVE_CLOUD_BACKUP != null || $PVE_CLOUD_BACKUP =~ /^./ ) # same trigger from both upstreams


release_artifacts:
  stage: deploy
  image: ghcr.io/ansible/community-ansible-dev-tools:v25.11.0
  script:
    - git config --global user.name "$GITLAB_USER_NAME"
    - git config --global user.email "$GITLAB_USER_EMAIL"

    # update galaxy yaml
    - |
      sed -i "s/^version:\s.*$/version: $CI_COMMIT_TAG/" galaxy.yml
    - git add galaxy.yml
    - git commit -m "Update collection version to $CI_COMMIT_TAG"
    - git push origin HEAD:master

    # tag and push => created by job ci token, will not trigger the tag released pipeline
    - git tag "$CI_COMMIT_TAG"
    - git push origin "$CI_COMMIT_TAG"

    - ansible-galaxy collection build
    - mv pve-cloud-$CI_COMMIT_TAG.tar.gz pve-cloud.tar.gz
    - ansible-builder build -f cloud-ee.yaml --tag tobiashvmz/pve-cloud-ee:$CI_COMMIT_TAG
    
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'


