# get a pve host that is online in the target pve cluster
CLOUD_DOMAIN=$(yq '.pve_cloud_domain' ../pve-cloud-inventory.yaml)

# pve cloud helper script
eval "$(pvclu export-psql --cloud-domain $CLOUD_DOMAIN)"

export PG_SCHEMA_NAME="cloud-master"