---
# tasks file for haproxy_conf
- name: Copy haproxy conf
  ansible.builtin.template:
    src: ./haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg

- name: Reload haproxy
  ansible.builtin.service:
    name: haproxy
    state: reloaded