---
# tasks file for set_haproxy_k8s_nodes
- name: wipe k8s nodes
  delegate_to: localhost
  run_once: true
  alchemy_delete:
    pg_conn_str: "{{ pg_conn_str }}"
    table: k8s_workers
    where:
      proxy_stack_fqdn: "{{ proxy_stack_fqdn }}"
      stack_fqdn: "{{ stack_name }}.{{ pve_cloud_domain }}"

- name: insert k8s nodes
  delegate_to: localhost
  alchemy_write:
    pg_conn_str: "{{ pg_conn_str }}"
    table: k8s_workers
    rows:
      - ip: "{{ ansible_default_ipv4.address }}"
        hostname: "{{ ansible_hostname }}"
        stack_fqdn: "{{ stack_name }}.{{ pve_cloud_domain }}"
        proxy_stack_fqdn: "{{ proxy_stack_fqdn }}"
