---
# tasks file for set_dns01_route53
- name: try to select existing data
  alchemy_read:
    pg_conn_str: "{{ pg_conn_str }}"
    table: px_cloud_secrets
    where:
      cloud_domain: "{{ pve_cloud_domain }}"
      secret_name: "aws-route53-global"
  register: aws_route53_query

- set_fact:
    aws_route53_global: "{{ aws_route53_query.query_result[0]['secret_data'] }}"

- name: "Get all Zones from Route53"
  register: ret_r53zones
  amazon.aws.route53_info:
    query: hosted_zone
    hosted_zone_method: list
    access_key: "{{ aws_route53_global.AWS_ACCESS_KEY_ID }}"
    secret_key: "{{ aws_route53_global.AWS_SECRET_ACCESS_KEY }}"

- name: "ACME: Solve challenge (set TXT-records)"
  loop: "{{ ret_acme_challenge['challenge_data_dns'] | dict2items }}"
  loop_control:
    loop_var: loop_acme_aws
    label: "{{ loop_acme_aws['key'] }}"
    extended: true
    extended_allitems: false
  amazon.aws.route53:
    state: "present"
    access_key: "{{ aws_route53_global.AWS_ACCESS_KEY_ID }}"
    secret_key: "{{ aws_route53_global.AWS_SECRET_ACCESS_KEY }}"
    hosted_zone_id: "{{ loop_acme_aws['key'].removeprefix('_acme-challenge.') | pxc.cloud.route53_zonebestmatch(ret_r53zones.hosted_zones) }}"
    record: "{{ loop_acme_aws['key'] }}"
    type: TXT
    value: "\"{{ loop_acme_aws['value'] | join('\",\"') }}\""
    ttl: 60
    overwrite: true
    wait: "{{ ansible_loop.last | bool }}"