#cloud-config
hostname: {{ qemu_hostname }}
manage_etc_hosts: true # todo: needed?
# keep passwords set by cloud init
chpasswd:
  expire: False
users:
  - name: {{ qemu_default_user }}
    ssh_authorized_keys: 
      - {{ root_ssh_pub_key }}
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    lock_passwd: false
    passwd: {{ qemu_hashed_pw }}
    shell: /bin/bash

package_update: true
packages:
  - qemu-guest-agent
  # need these two for keyboard.layout to work
  - console-setup
  - keyboard-configuration
keyboard:
  layout: {{ qemu_keyboard_layout }}
runcmd:
  - systemctl start qemu-guest-agent

{% if mirror_discovery_secret.rowcount != 0 %}
write_files:
  - encoding: b64
    path: /etc/apt/trusted.gpg.d/pxc-aptly.asc
    owner: root:root
    permissions: '0644'
    content: {{ mirror_discovery_secret.query_result[0]['secret_data']['pgp_public_key_b64'] }}

apt:
  primary:
    - arches:
        - default
      uri: http://{{ mirror_discovery_secret.query_result[0]['secret_data']['aptly_mirror_domain'] }}/debian
  security:
    - arches:
        - default
      uri: http://{{ mirror_discovery_secret.query_result[0]['secret_data']['aptly_mirror_domain'] }}/debian-security

{% endif %}
