# Restore

The restore happens inside your new cluster via a job that fetches the backups from the backup server.

You need to create a new backup server and give it your old backups, doing this is different based on the configuration you have.

After you have your backup server instance running you also need to install [terraform-pxc-backup module / access-namespace](https://github.com/Proxmox-Cloud/terraform-pxc-backup) into your k8s cluster. 

You also have to create an idendical dummy deployment of the namespace you want to restore. The backup tool simply scales down all deploymetns and swaps out volumes and secrets. It does not restore any other k8s resources.

Once you have done that you can launch the backup restore procedure from your development machine:

1. install pve-cloud-backup `pip install py-pve-cloud-backup=={{ py_pve_cloud_backup_version }}`
2. run `brctl list-backups --bdd-host $IP_OF_BACKUP_SERVER`, followed by `brctl backup-details --bdd-host $IP_OF_BACKUP_SERVER --timestamp $TIMESTAMP_ID_OF_BACKUP`
3. when you have selected your backup run something like this to restore (also check the `brctl restore-k8s` command alone):
```bash
brctl restore-k8s --bdd-host $IP_OF_BACKUP_SERVER \
  --timestamp $TIMESTAMP_ID_OF_BACKUP \
  --target-pve $TARGET_PVE_OF_BACKUP \
  --stack-name $K8S_STACK_NAME \
  --namespace-mapping $OLD_NAMESPACE:$NEW_NAMESPACE \
  --auto-scale --auto-delete
```