[Unit]
Description=bdd cron verify: {{ verify_data }} 
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/bdd
ExecStart=/opt/bdd/cron.sh
Environment="VERIFY_DATA={{ 'true' if verify_data else 'false' }}"

[Install]
WantedBy=timers.target
