[Unit]
Description=backup disk daemon 
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/bdd
ExecStart=/opt/bdd/.venv/bin/daemon
Restart=always
Environment="ENV=PRODUCTION"
# todo: this variable is currently unused, in the future it might be nice / useful
# to have one dataset per backup origin / stack that is sending
Environment="ZFS_POOL_BASE={{ zfs_pool_base }}"
Environment="LOG_LEVEL={{ bdd_log_level | default('INFO') }}"

[Install]
WantedBy=multi-user.target
