
{
"Dhcp4": {
    "interfaces-config": {
        "interfaces": [ "cephfe" ]
    },


    "control-socket": {
        "socket-type": "unix",
        "socket-name": "/var/run/kea/kea4-ctrl-socket"
    },


    "lease-database": {
        "type": "memfile",
        "lfc-interval": 3600
    },


    "expired-leases-processing": {
        "reclaim-timer-wait-time": 10,
        "flush-reclaimed-timer-wait-time": 25,
        "hold-reclaimed-time": 3600,
        "max-reclaim-leases": 100,
        "max-reclaim-time": 250,
        "unwarned-reclaim-cycles": 5
    },

    "renew-timer": 900,
    "rebind-timer": 1800,
    "valid-lifetime": 3600,

    "option-data": [
    ],

    // leave it in because its buggy otherwise?
    "client-classes": [
        {
            // This specifies a name of this class. It's useful if you need to
            // reference this class.
            "name": "voip",

            // This is a test. It is an expression that is being evaluated on
            // each incoming packet. It is supposed to evaluate to either
            // true or false. If it's true, the packet is added to specified
            // class. See Section 12 for a list of available expressions. There
            // are several dozens. Section 8.2.14 for more details for DHCPv4
            // classification and Section 9.2.19 for DHCPv6.
            "test": "substring(option[60].hex,0,6) == 'Aastra'",

            // If a client belongs to this class, you can define extra behavior.
            // For example, certain fields in DHCPv4 packet will be set to
            // certain values.
            "next-server": "192.0.2.254",
            "server-hostname": "hal9000",
            "boot-file-name": "/dev/null"

            // You can also define option values here if you want devices from
            // this class to receive special options.
        }
    ],

    "hooks-libraries": [
        {
            "library": "/usr/lib/x86_64-linux-gnu/kea/hooks/libdhcp_lease_cmds.so",
            "parameters": {}
        }
    ],

    "subnet4": [
        {
            "id": 1,

            "interface": "cephfe",

            "subnet": "{{ kea_dhcp_ceph_frontend_subnet }}",

            "pools": [ 
                { "pool": "{{ kea_dhcp_ceph_frontend_pool }}" }
            ],
            
            "option-data": [
            ],

            "reservations": [
            ]
        }
    ],

    "dhcp-ddns" : {
        "enable-updates":true,
        "server-ip":"127.0.0.1",
        "server-port":53001,
        "sender-ip":"",
        "sender-port":0,
        "max-queue-size":1024,
        "ncr-protocol":"UDP",
        "ncr-format":"JSON"
    },

    "hostname-char-set": "",
    "hostname-char-replacement": "",

    "loggers": [
    {
        "name": "kea-dhcp4",
        "output-options": [
            {
                "output": "stdout",
                "pattern": "%-5p %m\n",
            }
        ],
        // This specifies the severity of log messages to keep. Supported values
        // are: FATAL, ERROR, WARN, INFO, DEBUG
        "severity": "INFO",

        // If DEBUG level is specified, this value is used. 0 is least verbose,
        // 99 is most verbose. Be cautious, Kea can generate lots and lots
        // of logs if told to do so.
        "debuglevel": 0
    }
  ]
}
}