$ORIGIN {{ bind_arpa_zone_service_lxcs }}.
$TTL 86400
@   IN  SOA     ns1.{{ pve_cloud_domain }}. {{ bind_zone_admin_email }} (
                    {{ ansible_date_time.date | replace('-', '') }}01 ; Serial
                    3600       ; Refresh
                    1800       ; Retry
                    1209600    ; Expire
                    86400 )    ; Minimum TTL

; service lxcs
{{ kea_dhcp_main_ip.split('.')[3] }}       IN  PTR      main-ha-dhcp.{{ pve_cloud_domain }}.
{{ kea_dhcp_failover_ip.split('.')[3] }}       IN  PTR      failover-ha-dhcp.{{ pve_cloud_domain }}.

{{ bind_master_ip.split('.')[3] }}       IN  PTR      master-ha-bind.{{ pve_cloud_domain }}.
{{ bind_slave_ip.split('.')[3] }}       IN  PTR      slave-ha-bind.{{ pve_cloud_domain }}.

; all other updates happen via nsupdate an ddns
@       IN  NS      ns1.{{ pve_cloud_domain }}.