ETCD_NAME="{{ ansible_hostname }}"
# very important here to not use default, otherwise cluster wont initialize properly
ETCD_DATA_DIR="/var/lib/etcd/ha-postgres"
ETCD_INITIAL_CLUSTER="{% for host in groups['lxcs'] %}{{ hostvars[host].ansible_hostname }}=http://{{ hostvars[host].ansible_hostname }}.{{ pve_cloud_domain }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_hostname }}.{{ pve_cloud_domain }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_hostname }}.{{ pve_cloud_domain }}:2379"
ETCD_LISTEN_PEER_URLS="http://0.0.0.0:2380"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:2379"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"