apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: openebs-zfspv-zvol
{% if zfspv_zvol_sc_default | default(false) %}
  annotations:
    storageclass.kubernetes.io/is-default-class: 'true'
{% endif %}
allowVolumeExpansion: true
parameters:
  fstype: "ext4"
  poolname: "tank-pv"
provisioner: zfs.csi.openebs.io
allowedTopologies:
- matchLabelExpressions:
  - key: kubernetes.io/hostname
    values:
{% for node in pxzfs_storage_hosts %}
      - {{ node }}
{% endfor %}
    
