- name: Install requirements on debian 12 lxc/vm
  hosts: lxcs:qemus
  vars:
    # increment this on releasing a new pve-cloud-backup version
    py_pve_cloud_backup_version: "0.6.5-rc1"
  tasks:
    - name: install core apt packages
      ansible.builtin.apt:
        name: 
          - python3-venv
          - borgbackup
        state: present
        update_cache: yes

    # install bdd service
    - name: Ensure /opt/bdd directory exists
      ansible.builtin.file:
        path: /opt/bdd
        state: directory

    - name: Create borg home for backup user
      file:
        path: /srv/backup/borg
        state: directory
        owner: backup
        group: backup
      when: PXC_REMOVABLE_DATASTORES is defined # bdd is running on pbs

    - name: Create Python virtual environment in /opt/bdd/.venv
      ansible.builtin.command:
        cmd: python3 -m venv /opt/bdd/.venv
        creates: /opt/bdd/.venv/bin/activate

    - name: Copy restore instructions
      ansible.builtin.template:
        src: "bdd-RESTORE.md.j2"
        dest: "/opt/bdd/RESTORE.md"

    - name: Install bdd into venv
      ansible.builtin.command:
        cmd: /opt/bdd/.venv/bin/pip install py-pve-cloud-backup=={{ py_pve_cloud_backup_version }}
      when: tdd_local_pypi_host is not defined

    - name: Install bdd into venv from tdd dog local pypi
      ansible.builtin.command:
        cmd: /opt/bdd/.venv/bin/pip install --index-url http://{{ tdd_local_pypi_host }}:8088/simple --trusted-host {{ tdd_local_pypi_host }} py-pve-cloud-backup=={{ py_pve_cloud_backup_version }}
      when: tdd_local_pypi_host is defined

    - name: Create a systemd service file
      template:
        dest: "/etc/systemd/system/bdd.service"
        src: ./bdd.service.j2

    - name: Reload systemd daemon
      command: systemctl daemon-reload

    - name: Enable and start the application service
      systemd:
        name: "bdd"
        state: restarted
        enabled: yes