- name: Setup cache lxcs
  hosts: lxcs
  tasks:
    - name: install nfs packages
      apt:
        update_cache: yes
        pkg:
          - nfs-kernel-server
          - nfs-common

    - name: create nfs conf - clients connect via ssh tunnel
      copy:
        content: |
          /srv/kubespray_cache localhost(insecure,rw,sync,no_subtree_check,no_root_squash)
        dest: /etc/exports
      register: exp_conf

    - name: create cache dir
      file:
        path: /srv/kubespray_cache
        state: directory
        mode: '0777'
    
    - name: reload
      command: exportfs -a
      when: exp_conf.changed

    # todo implement apt cacher with mitm