TARGET_PVE=$(yq '.target_pve' ../kubespray-inv.yaml)
STACK_NAME=$(yq '.stack_name' ../kubespray-inv.yaml)

# pve cloud helper script
# initializes a bunch of os variables for terraform, including auth
eval "$(pvclu export-envrc --target-pve $TARGET_PVE --stack-name $STACK_NAME)"

# create the schema name used by terraform backend dynamically
STACK_NAME=$(yq '.stack_name' ../kubespray-inv.yaml)
export PG_SCHEMA_NAME="${STACK_NAME}"